<ion-view view-title="RepuTip">
  <ion-content>
    <header class="bar bar-header bar-balanced">
      <h1 class="title">RepuTip</h1>
    </header>
  </ion-content>
</ion-view>

<ion-tabs class="tabs-icon-top tabs-energized">

          <ion-tab title="Nearby" icon="ion-android-compass" href="#home/nearby">
            <ion-nav-view name="tab-nearby" ></ion-nav-view>
          </ion-tab>

          <ion-tab title="Search" icon="ion-ios-search" href="#home/search" >
            <ion-nav-view name="tab-search" ></ion-nav-view>
          </ion-tab>

          <ion-tab title="Activity" icon="ion-android-restaurant" href="#home/activity">
          	<ion-nav-view name="tab-activity" ></ion-nav-view>
          </ion-tab>

          <ion-tab title="More" icon="ion-more" href="#home/more">
            <ion-nav-view name="tab-more" ></ion-nav-view>
          </ion-tab>
 </ion-tabs>
